<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="copyright" content="(c) 2023 Mikael Kindborg" />
  <title>VimanaCode</title>
  <style>
    @import "workbench.css";
  </style>
</head>

<body>

  <div class="vimana-ui">

    <div class="vimana-button-bar">
      <a class="vimana-button" onclick="VimanaUI.eval('commandExamples')" href="javascript:void(0)">Examples</a>
      <a class="vimana-button" onclick="VimanaUI.eval('{github.com} openUrl')" href="javascript:void(0)">GitHub</a>
    </div>

    <div class="vimana-card">

      <div class="vimana-card-front">
      </div>

      <div class="vimana-card-editor">
        <div class="vimana-frame vimana-frame-code">
          <textarea spellcheck="false">Welcome to the wonderful world of VimanaCode!</textarea>
        </div>

        <div class="vimana-button-bar">
          <a class="vimana-button" onclick="VimanaUI.eval('commandEvalAsync')" href="javascript:void(0)">Eval</a>
          <a class="vimana-button" onclick="VimanaUI.eval('drop')" href="javascript:void(0)">Drop</a>
          <a class="vimana-button" onclick="VimanaUI.eval('commandClearOutput')" href="javascript:void(0)">Clear</a>
          <a class="vimana-button" onclick="VimanaUI.eval('commandListPrimFuns')" href="javascript:void(0)">PrimFuns</a>
        </div>

        <div class="vimana-frame vimana-frame-output">
          <textarea spellcheck="false"></textarea>
        </div>
      </div>
      <!--
        <canvas id="vimana-canvas" width="100%" height="600px"></canvas>
      -->
    </div> <!-- vimana-card -->

  </div> <!-- vimana-ui -->

  <div class="vimana-code-cards" style="display:none">
  { This program runs on startup and contains the initial code cards } doc
  (
    ({(sayHi) ({Hi World} print) def})
    ({{I am card 1} print})
  )
  (VimanaCards) setglobal
  </div>

  <script src="interp.js"></script>
  <script src="parser.js"></script>
  <script src="prettyprint.js"></script>
  <script src="primfuns.js"></script>
  <script src="workbench-vimana.js"></script>

</body>

</html>
