*, *:before, *:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html
{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body
{
  padding: 5px;
  /*background-color: rgb(55,102,201);*/
  /*background-color: rgb(0,85,173);*/
  background-color: rgb(0,81,156);
  color: rgb(255,255,255);
  font-family: sans-serif;
  font-weight: normal;
}

h1
{
  font-weight: normal;
  font-size: 175%;
  margin: 5px 0 15px 0;
}

h2
{
  font-weight: normal;
  font-size: 150%;
}

.vimana-card
{
  margin: 0px;
  padding: 10px 10px;
  border: 2px solid rgb(208,31,32);
  border: 2px solid rgb(238,131,0);
  border: 2px solid rgb(255,255,255);
  border-radius: 2px;
  min-height: 600px;
}

.vimana-frame
{
  margin: 0;
  padding: 6px;
  /*border: 3px solid rgb(255,138,0);*/
  /*border: 2px solid rgb(238,131,0);*/
  border-radius: 2px;
}

.vimana-frame-code,
.vimana-frame-code textarea
{
  background-color: white;
}

.vimana-frame-code textarea
{
  color: black;
  height: 300px;
}

.vimana-frame-output,
.vimana-frame-output textarea
{
  /*background-color: rgb(0,85,173);*/
  background-color: rgb(5, 100, 202);
}
.vimana-frame-output textarea
{
  color: white;
  height: 200px;
}

textarea
{
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 150%;
  overflow: scroll;
  width: 100%;
  border-width: 0;
}

.vimana-button
{
  /*display: flex;*/
  display: block;
  /*width: 100%;
  max-width: 240px;*/
  /* margin: 0 10px 10px 0;*/
  flex: 0 0 auto;
  padding: 5px 10px;
  background-color: rgb(5, 100, 202);
  border: 2px solid white;
  border-radius: 2px;
  unicode-bidi: embed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: pre;
  font-size: 125%;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
}

.vimana-button,
.vimana-button:link,
.vimana-button:visited,
.vimana-button:hover,
.vimana-button:active
{
  color: white;
  /*background-color: rgb(0,161,188);*/
}

.vimana-button-bar
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
  font-weight: 500;
}

.vimana-dropdown-menu
{
  margin: 0;
  padding: 2px 6px;
  font-family: monospace;
  font-size: 22px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgb(0,85,173);
  background-color: rgb(5, 100, 202);
  color: white;
}

.vimana-canvas
{
  width: 600px;
  height: 600px;
}

.vimana-workspace
{
  display: none;
}
