*, *:before, *:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body
{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: "Verdana", "Arial", "Geneva", sans-serif;
  font-weight: normal;
}

.vimana-card
{
  background-color: white;
  margin: 0px 0px 175px 0px;
  padding: 15px;
  /*background-color: #31c5ff;*/
}

.vimana-editor
{
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  height: calc(100vh - 190px);
  padding: 20px 10px;
  border-radius: 5px;
  border: 0px;
  background-color: rgba(240,240,240,0.9);
  color: black;
  overflow: scroll;
  font-size: 1.5rem;
  font-family: monospace;
  white-space: pre-wrap;
  resize: none;
  outline: none;
  /*field-sizing: content;*/
  /*height: fit-content;*/
  /*border: 2px solid rgb(100,100,100);*/
}

.vimana-box
{
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  font-size: 1.5rem;
}

.vimana-img img
{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0px auto;
  max-width: 1200px;
}

.vimana-img-wide img
{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.vimana-editbox
{
  /*margin: 5px 5px;*/
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(100,100,100);
  background-color: white;
  color: black;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 1.5rem;
}

.vimana-textbox
{
  padding: 5px;
  margin: 5px 0 10px 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.vimana-h1
{
  font-size: 3rem;
  margin: 5px 0 15px 0;
  font-weight: normal;
}

.vimana-h2
{
  font-size: 2.25rem;
  margin: 20px 0 5px 0;
  font-weight: normal;
}

.vimana-h3
{
  font-size: 2rem;
  margin: 10px 0 5px 0;
  font-weight: normal;
}

.vimana-button-small
{
  user-select: none;
  display: inline-block;
  margin: 5px 0px 5px 5px;
  padding: 5px 10px 8px 10px;
  color: white;
  background-color: rgb(5, 100, 202);
  border-radius: 5px;
  white-space: pre;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.vimana-button-wide
{
  user-select: none;
  display: block;
  /*max-width: 600px;*/
  margin: 5px 5px;
  padding: 5px 10px 8px 25px;
  color: white;
  background-color: rgb(5, 100, 202);
  /*background-color: rgb(99, 99, 99);*/
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.vimana-dev-panel
{
  display: none;
  padding: 5px;
  position: fixed;
  background-color: white;
  border-top: 2px solid black;
  width: 100%;
  height: 170px;
  left: 0px;
  bottom: 0px;
}

.vimana-dev-panel .vimana-dev-panel-buttons
{
  padding-right: 50px;
}

.vimana-dev-panel .vimana-editbox
{
  height: 100px;
  overflow: scroll;
}

.vimana-dev-panel-icon-collapse
{
  user-select: none;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 5px;
}

.vimana-dev-panel-icon-expand
{
  user-select: none;
  display: block;
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 30px;
  bottom: 30px;
}

.vimana-dev-panel-icon-collapse image,
.vimana-dev-panel-icon-expand image
{
  width: 100%;
  height: auto;
}
