*, *:before, *:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html
{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body
{
  padding: 5px;
  /*background-color: rgb(55,102,201);*/
  background-color: rgb(0,85,173);
  color: rgb(255,255,255);
  font-family: monospace;
  font-weight: normal;
}

h1
{
  font-weight: normal;
  font-size: 175%;
}

h2
{
  font-weight: normal;
  font-size: 150%;
}

.vimana-frame
{
  padding: 6px;
  border: 4px solid rgb(255,138,0);
}

.vimana-frame-code
{
  background-color: white;
}

output, code, stack, callstack, textarea
{
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  font-size: 125%;
  overflow: scroll;
  width: 100%;
  border-width: 0;
}

.vimana-button
{
  /*display: flex;*/
  display: inline-block;
  width: 100%;
  max-width: 250px;
  margin: 10px 0px;
  padding: 10px;
  border: 4px solid white;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  font-size: 125%;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
}

.vimana-button,
.vimana-button:link,
.vimana-button:visited,
.vimana-button:hover,
.vimana-button:active
{
  color: white;
  /*background-color: rgb(0,161,188);*/
}
